.contacts {
  margin-bottom: 39px;

  @media (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin-bottom: 57px;
  }

  @media (min-width: $large) {
    @include wrapper-xl;
    flex-direction: row;
    margin-bottom: 105px;
  }
}


.contacts__wrapper {
  @include wrapper-m;

  @media (min-width: $medium) {
    @include wrapper-l;
  }

  @media (min-width: $large) {
    flex-basis: 50%;
    padding-left: 175px;
  }
}

.contacts__title {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
  position: relative;

  @media (min-width: $medium) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;

    &::before {
      position: absolute;
      top: -22px;
      right: 3px;
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
      background-size: 47px 81px;
    }
  }

  @media (min-width: $large) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 34.5px;
    padding-top: 80px;

    &::before {
      top: 62px;
      left: -112px;
    }
  }
}

.contacts__inner {
  @media (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.contacts__info {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 30px;
  color: $color-dark-grey;

  @media (min-width: $medium) {
    font-size: 17px;
  }

  &--email {
    margin-bottom: 30px;

    @media (min-width: $medium) {
      margin-right: 50px;
    }

    @media (min-width: $large) {
      margin-right: 0;
    }
  }

  &--address {
    margin-bottom: 62px;

    @media (min-width: $medium) {
      margin-bottom: 48px;
    }
  }
}

.contacts__title-info {
  margin: 0;
  margin-right: 34px;

  @media (min-width: $medium) {
    margin-right: 25px;
  }
}

.contacts__text-link {
  color: $color-dark-grey;
  border-bottom: 1px solid $color-green;

  &:hover,
  &:focus {
    color: $color-light-dark-green;
  }

  &:active {
    color: $color-light-dark-green;
    border-bottom: 1px solid transparent;
  }
}

.contacts__text-info {
  font-style: normal;
}

.contacts__map {
  position: relative;
  margin-bottom: 38px;
  overflow: hidden;

  @media (min-width: $medium) {
    margin-bottom: 55px;
  }

  @media (min-width: $large) {
    flex-basis: 50%;
    max-height: 457px;
    margin-bottom: 0;
  }
}

.contacts__map-google {
  min-height: 457px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-color: $color-background-img;
  background-position: center;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $medium) {
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $large) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__button {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;

  @media (min-width: $medium) {
    min-width: 230px;
    margin: 0 auto;
  }

  @media (min-width: $large) {
    position: absolute;
    margin-left: 175px;
    bottom: 0;
  }
}
