.offer {
  @include font-bold;
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;

    @media (min-width: $medium) {
      height: 17px;
      background-size: auto 17px;
    }

    @media (min-width: $large) {
      height: 23px;
      background-size: 1050px 23px;
      background-position-x: center;
      background-repeat: no-repeat;
    }
  }
}

.offer__wrapper {
  @include wrapper-m;
  padding-bottom: 36px;
  margin-bottom: 31px;

  @media (min-width: $medium) {
    @include wrapper-l;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 52px;
    margin-bottom: 60px;
  }

  @media (min-width: $large) {
    @include wrapper-xl;
    grid-template-rows: 153px;
    padding-bottom: 80px;
    margin-bottom: 68px;
  }
}

.offer__heading {
  margin-bottom: 17.5px;

  @media (min-width: $medium) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: $large) {
    z-index: 1;
  }
}

.offer__title {
  margin: 0;
  margin-bottom: 3.5px;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $medium) {
    margin-top: 22px;
    margin-bottom: 37.5px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $large) {
    order: 2;
    margin-top: 61px;
    margin-bottom: 35px;
    margin-left: 30px;
    margin-right: auto;
    font-size: 53px;
    line-height: 57px;
  }
}

.offer__hint {
  margin: 0;
  font-size: 17px;
  color: $color-green;
  text-transform: uppercase;

  @media (min-width: $medium) {
    margin-top: 26px;
    margin-right: 13px;
    width: 100px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $large) {
    margin-top: 69px;
    margin-left: 32px;
  }
}

.offer__content {
  @media (min-width: $medium) {
    grid-row: 2 / 3;
    margin-right: 42px;
    margin-bottom: 30px;
  }

  @media (min-width: $large) {
    margin-right: 58px;
    margin-left: 175px;
  }
}

.offer__desc {
  @include font-normal;
  margin: 0;
  margin-bottom: 21px;
  line-height: 24px;
  color: $color-dark-grey;

  @media (min-width: $medium) {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $large) {
    margin-bottom: 54px;
  }
}

.offer__table {
  margin-bottom: 28px;
}

.offer__img {
  margin-bottom: 25.5px;
  line-height: 0;
  background-color: $color-background-img;

  @media (min-width: $medium) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    align-self: end;
    margin-bottom: 17px;
  }

  @media (min-width: $large) {
    grid-row: 1 / 4;
  }
}

.offer__inner {
  margin-bottom: 5px;

  @media (min-width: $medium) {
    grid-row: 3 / 4;
    align-self: end;
    margin-right: 42px;
    margin-bottom: 17px;
  }

  @media (min-width: $large) {
    margin-right: 58px;
    margin-left: 175px;
  }
}

.offer__price {
  margin: 0;
  margin-bottom: 24.5px;
  font-size: 17px;
  line-height: 24px;
  color: $color-dark-grey;
  text-align: center;

  @media (min-width: $medium) {
    font-size: 20px;
    margin-bottom: 31px;
  }
}

.offer__button {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $medium) {
    font-size: 17px;
  }
}
