.card {
  @media (min-width: $medium) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $large) {
    flex-direction: column;
  }
}

.card:hover .card__inner,
.card:focus-within {
  @media (min-width: $large) {
    box-shadow: 0 6px 10px fade-out($color-black, 0.9);
  }
}

.card:active .card__inner {
  @media (min-width: $large) {
    box-shadow: 0 3px 5px fade-out($color-black, 0.9);
  }
}

.card__link,
.card__link-img {
  display: block;
  line-height: 0;
}

.card__link-img {
  min-height: 195px;
  background-color: $color-grey;

  @media (min-width: $medium) {
    width: 50%;
    min-height: 334px;
  }

  @media (min-width: $large) {
    width: 100%;
    min-height: 462px;
  }
}

.card__inner {
  display: flex;
  flex-direction: column;
  padding: 27px 27px 0;
  border: 1px solid $color-light-grey;

  @media (min-width: $medium) {
    width: 50%;
  }

  @media (min-width: $large) {
    width: 100%;
    flex-grow: 1;
  }
}

.card__title {
  @include font-bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;
  margin: 0;
  margin-bottom: 5px;

  &:hover,
  &:focus {
    color: fade-out($color-black, 0.4);
  }

  &:active {
    color: fade-out($color-black, 0.7);
  }

  @media (min-width: $medium) {
    font-size: 20px;
  }
}

.card__desc {
  margin: 0;
  margin-bottom: 17.5px;
  font-size: 13px;
  line-height: 30px;
  color: $color-dark-grey;

  @media (min-width: $medium) {
    font-size: 15px;
  }
}

.card__price-container {
  position: relative;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-light-grey;
}

.card__price {
  @include font-bold;
  line-height: 24px;
  margin: 0;
  padding-top: 22.5px;
  padding-bottom: 26px;

  @media (min-width: $medium) {
    font-size: 17px;
  }
}

.card__button {
  position: absolute;
  right: -2px;
  bottom: 30px;
  margin: 0;
  padding: 0;
  width: 21px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__button-icon {
  fill-opacity: 0.2;
}

.card__button:hover .card__button-icon,
.card__button:focus .card__button-icon {
  fill: $color-green;
  fill-opacity: 1;
}

.card__button:active .card__button-icon {
  fill: $color-green;
  fill-opacity: 0.3;
}
