.card {
  @media (min-width: $medium) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $large) {
    flex-direction: column;
  }
}

.card__link,
.card__link-img {
  display: block;
  line-height: 0;
}

.card__link-img {
  background-color: $color-grey;

  @media (min-width: $medium) {
    width: 50%;
    min-height: 334px;
  }

  @media (min-width: $large) {
    width: 100%;
    min-height: 462px;
  }
}

.card__inner {
  display: flex;
  flex-direction: column;
  padding: 27px 28px 0;
  border: 1px solid $color-light-grey;

  @media (min-width: $medium) {
    width: 50%;
  }

  @media (min-width: $large) {
    width: 100%;
    flex-grow: 1;
  }
}

.card__title {
  @include font-bold;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;
  margin: 0;
  margin-bottom: 6px;

  @media (min-width: $medium) {
    font-size: 20px;
  }
}

.card__desc {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: $color-dark-grey;

  @media (min-width: $medium) {
    font-size: 15px;
  }
}

.card__price-container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card__price {
  @include font-bold;
  line-height: 24px;
  margin: 0;
  padding-top: 22.5px;
  padding-bottom: 26.5px;

  @media (min-width: $medium) {
    font-size: 17px;
  }
}
