.catalog__wrapper {
  @include wrapper-m;

  @media (min-width: $medium) {
    @include wrapper-l;
    margin-bottom: 53px;
  }

  @media (min-width: $large) {
    @include wrapper-xl;
    margin-bottom: 27px;
  }
}

.catalog__list {
  @include list;

  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 54px;
  }

  @media (min-width: $large) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 51px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $medium) {
    margin-bottom: 0;
  }
}
