.main-form {
  @include font-bold;
}

.main-form__inner,
.main-form__inner-control {
  @include wrapper-m;

  @media (min-width: $medium) {
    @include wrapper-l;
  }

  @media (min-width: $large) {
    @include wrapper-xl;
  }
}

.main-form__inner {
  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: baseline;
  }

  @media (min-width: $large) {
    grid-template-columns: 1fr 5fr;
  }

  &--indent-top {
    @media (min-width: $medium) {
      padding-top: 50px;
    }

    @media (min-width: $large) {
      padding-top: 47px;
    }
  }

  &--indent-name {
    @media (min-width: $medium) {
      padding-top: 50px;
    }
  }

  &--indent-bottom {
    @media (min-width: $medium) {
      padding-bottom: 26px;
    }
  }

  &--indent-textarea {
    @media (min-width: $medium) {
      margin-bottom: 50px;
    }

    @media (min-width: $large) {
      margin-bottom: 45px;
    }
  }

  &--phone {
    @media (min-width: $large) {
      padding-top: 50px;
    }
  }
}

.main-form__inner-control {
  margin-bottom: 55px;

  @media (min-width: $medium) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  @media (min-width: $large) {
    padding: 0 225px;
    margin-bottom: 29px;
  }
}

.main-form__desc {
  @include font-normal;
  font-size: 13px;
  line-height: 24px;
  color: $color-dark-grey;
  margin-top: 0;
  margin-bottom: 29px;

  @media (min-width: $medium) {
    grid-column: 1 / -1;
    margin-bottom: 62px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $large) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.main-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--theme-grey {
    @media (min-width: $medium) {
      background-color: $color-grey;
    }
  }
}

.main-form__legend {
  display: flex;
  align-items: center;
  column-gap: 22px;
  width: 100%;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 16px;
  color: $color-green;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: $medium) {
    display: block;
  }

  &--color {
    @media (min-width: $medium) {
      padding-top: 16px;
    }

    @media (min-width: $large) {
      padding-left: 61px;
      padding-top: 20px;
    }
  }

  &--type {
    @media (min-width: $medium) {
      padding-top: 16px;
    }

    @media (min-width: $large) {
      padding-left: 61px;
      padding-top: 20px;
    }
  }

  &--fone {
    padding-top: 1px;
    margin-bottom: 5px;

    @media (min-width: $medium) {
      padding-top: 15px;
    }

    @media (min-width: $large) {
      padding-left: 60px;
    }
  }

  &--email {
    margin-bottom: 4px;

    @media (min-width: $medium) {
      padding-top: 15px;
    }

    @media (min-width: $large) {
      padding-left: 60px;
    }
  }

  &--textarea {
    margin-bottom: 22px;

    @media (min-width: $medium) {
      align-self: self-start;
      padding-top: 19px;
    }

    @media (min-width: $large) {
      padding-top: 23px;
      padding-left: 62px;
    }
  }

  &--user {
    margin-bottom: 30px;
    padding-top: 2px;

    @media (min-width: $medium) {
      padding-top: 20px;
    }

    @media (min-width: $large) {
      padding-left: 60px;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-green;

    @media (min-width: $medium) {
      display: none;
    }
  }
}

.main-form__list {
  @include list;
  margin-bottom: 31px;

  @media (min-width: $medium) {
    margin-bottom: 25px;
  }

  @media (min-width: $large) {
    margin-bottom: 24px;
  }

  &--user {
    @media (min-width: $large) {
      margin-bottom: 25px;
      margin-left: 2px;
    }
  }
}

.main-form__list-grid {
  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
  }

  @media (min-width: $large) {
    grid-template-columns: repeat(3, 262px);
    column-gap: 0;
    margin-bottom: 28px;
  }
}

.main-form__item {
  padding-left: 60px;

  &--indent-right {
    @media (min-width: $large) {
      margin-right: 175px;
    }
  }

  &--indent-left {
    padding-left: 0;
  }

  &--radio {
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 2px;

    @media (min-width: $medium) {
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 80px;
      margin-bottom: 24px;
    }
  }

  &--checkbox {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 61px;
    margin-bottom: 23px;

    @media (min-width: $medium) {
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 80px;
      margin-bottom: 24px;
    }
  }

  &--text {
    margin-bottom: 22px;

    @media (min-width: $medium) {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
    }
  }
}

.main-form__label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-size: 17px;
  line-height: 18px;
  cursor: pointer;

  @media (min-width: $medium) {
    font-size: 19px;
  }

  &--indent-right {
    @media (min-width: $large) {
      padding-right: 175px;
    }
  }

  &--text {
    @media (min-width: $medium) {
      margin-right: 24px;
    }
  }

  &--textarea {
    @media (min-width: $large) {
      margin-top: 3px;
    }
  }
}

.main-form__input-radio + .main-form__label::before {
  content: "";
  position: absolute;
  left: -61px;
  width: 42px;
  height: 42px;
  border: 2px solid $color-dark-grey;
  border-radius: 50%;

  @media (min-width: $medium) {
    left: -77px;
    width: 50px;
    height: 50px;
  }

  @media (min-width: $large) {
    left: -79px;
  }
}

.main-form__input-radio:checked + .main-form__label::after {
  content: "";
  position: absolute;
  left: -49px;
  width: 18px;
  height: 18px;
  background-color: $color-input-green;
  border-radius: 50%;

  @media (min-width: $medium) {
    left: -63px;
    width: 22px;
    height: 22px;
  }

  @media (min-width: $large) {
    left: -65px;
  }
}

.main-form__input-checkbox + .main-form__label::before {
  content: "";
  position: absolute;
  left: -61px;
  width: 38px;
  height: 38px;
  border: 2px solid $color-dark-grey;

  @media (min-width: $medium) {
    left: -80px;
    width: 52px;
    height: 52px;
  }
}

.main-form__input-checkbox:checked + .main-form__label::after {
  content: "";
  position: absolute;
  left: -53px;
  width: 23px;
  height: 16px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 23px 16px;
  background-position: center;

  @media (min-width: $medium) {
    left: -70px;
    width: 32px;
    height: 22px;
    background-size: 32px 22px;
  }
}

.main-form__label--radio:hover::before,
.main-form__input-radio:focus + .main-form__label--radio::before,
.main-form__label--checkbox:hover::before,
.main-form__input-checkbox:focus + .main-form__label--checkbox::before {
  border: 2px solid $color-input-green;
}

.main-form__label--radio:active::before,
.main-form__label--checkbox:active::before {
  border: 2px solid fade-out($color-black, 0.7);
}

.main-form__input,
.main-form__textarea {
  @include font-normal;
  width: 100%;
  font-size: 17px;
  line-height: 18px;
  background-color: transparent;

  @media (min-width: $medium) {
    font-size: 19px;
  }

  &::placeholder {
    @include font-normal;
    color: $color-black;
    opacity: 0.3;
  }
}

.main-form__input {
  color: $color-dark-grey;
  border: none;
  box-shadow: inset 0 -2px 0 $color-black;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 $color-input-green;
  }

  &--indent-bottom {
    margin-bottom: 35px;

    @media (min-width: $medium) {
      margin-bottom: 24px;
    }
  }

  &--text {
    padding-top: 17px;
    padding-bottom: 17px;

    @media (min-width: $medium) {
      max-height: 52px;
      padding-top: 16px;
      padding-bottom: 18px;
      padding-left: 18px;
    }
  }

  &--fone {
    padding-top: 14px;
    padding-bottom: 20px;

    @media (min-width: $medium) {
      max-height: 52px;
      padding-left: 18px;
    }
  }

  &--email {
    padding-top: 16px;
    padding-bottom: 18px;

    @media (min-width: $medium) {
      max-height: 52px;
      padding-top: 15px;
      padding-bottom: 19px;
      padding-left: 18px;
    }
  }
}

.main-form__phone-icon {
  position: absolute;
  top: 11px;
  right: 7px;
  background-size: 25px 24px;
  fill-opacity: 0.3;

  @media (min-width: $medium) {
    right: 26px;
  }

  @media (min-width: $large) {
    right: 183px;
  }
}

.main-form__input:hover + .main-form__phone-icon,
.main-form__input:focus + .main-form__phone-icon,
.main-form__phone-icon:hover {
  fill-opacity: 1;
  fill: $color-input-green;
}

.main-form__email-icon {
  position: absolute;
  top: 16px;
  right: 3px;
  background-size: 32px 21px;
  fill-opacity: 0.3;

  @media (min-width: $medium) {
    right: 22px;
  }

  @media (min-width: $large) {
    right: 179px;
  }
}

.main-form__input:hover + .main-form__email-icon,
.main-form__input:focus + .main-form__email-icon,
.main-form__email-icon:hover {
  fill-opacity: 1;
  fill: $color-input-green;
}

.main-form__textarea {
  min-height: 142px;
  padding: 17px;
  color: $color-black;
  border: 2px solid $color-dark-grey;
  cursor: pointer;
  resize: none;
  outline: none;

  &:hover,
  &:focus {
    border: 2px solid $color-input-green;
  }
}

.main-form__correction {
  @include font-normal;
  display: block;
  margin-top: 13px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $color-dark-grey;

  @media (min-width: $medium) {
    font-size: 17px;
    line-height: 30px;
  }
}

.main-form__button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 16px;

  @media (min-width: $medium) {
    order: -1;
    max-width: 230px;
  }
}
