.page-main {
  background-color: $color-white;

  &__title {
    @include font-bold;
    font-size: 27px;
    line-height: 30px;
    background-color: $color-grey;
    text-align: center;
    padding: 73px 0;
  }
}
