.page-main__title {
  @include font-bold;
  font-size: 27px;
  line-height: 30px;
  background-color: $color-grey;
  text-align: center;
  margin: 0;
  padding: 73px 30px;

  &--indent-s {
    margin-bottom: 17px;
  }

  @media (min-width: $medium) {
    margin-bottom: 67px;
    padding: 101px 50px 75px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $large) {
    margin-bottom: 115px;
    padding: 102px 50px 96px;
    font-size: 53px;
    line-height: 57px;
  }
}
