.page-main__title {
  @include font-bold;
  font-size: 27px;
  line-height: 30px;
  background-color: $color-grey;
  text-align: center;
  margin: 0;
  padding: 73px 30px;
  position: relative;

  @media (min-width: $medium) {
    margin-bottom: 67px;
    padding: 101px 50px 75px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      position: absolute;
      left: 0;
      bottom: -10px;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      background-size: auto 24px;
    }
  }

  @media (min-width: $large) {
    margin-bottom: 115px;
    padding: 102px 50px 96px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      bottom: -15px;
      height: 34px;
      background-size: 1150px 34px;
    }
  }

  &--indent-s {
    margin-bottom: 17px;
  }

  &--indent-m {
    margin-bottom: 30px;
  }

  &--catalog {
    @media (min-width: $medium) {
      margin-bottom: 78px;
    }
  }
}
