.products {
  @include font-bold;
  background-image: url("../img/hero-mobile@2x-1.jpg");
  background-repeat: no-repeat;
  background-color: $color-background-img;
  background-position: top center;

  &__wrapper {
    @include wrapper-m;
  }

  &__title {
    padding-top: 73px;
    padding-bottom: 120px;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
  }

  &__list {
    @include list;
  }

  &__item--theme-green {
    background-color: $color-green;
  }

  &__item--theme-dark-green {
    background-color: $color-dark-green;
  }

  &__link {
    display: block;
    font-size: 19px;
    line-height: 24px;
    color: $color-white;
  }
}
