.products {
  @include font-bold;
  position: relative;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-color: $color-background-img;
  background-position: center -17px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: auto 373px;
  }

  @media (min-width: $medium) {
    background-image: url("../img/hero-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: auto 746px;
      background-position: center;
    }
  }

  @media (min-width: $large) {
    background-image: url("../img/hero-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  &::after {
    @media (min-width: $medium) {
      position: absolute;
      bottom: -12px;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-repeat: repeat-x;
      background-size: auto 24px;
    }

    @media (min-width: $large) {
      bottom: -17px;
      height: 34px;
      background-size: auto 34px;
    }
  }
}

.products__wrapper {
  @include wrapper-m;
  margin-bottom: 30px;

  @media (min-width: $medium) {
    @include wrapper-l;
  }

  @media (min-width: $large) {
    @include wrapper-xl;
    margin-bottom: 70px;
  }
}

.products__title {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 120px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $medium) {
    padding-top: 155px;
    padding-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $large) {
    padding-bottom: 357px;
    font-size: 53px;
    line-height: 57px;
  }
}

.products__title br:nth-child(1) {
  @media (min-width: $medium) {
    display: none;
  }
}

.products__list {
  @include list;

  @media (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.products__item {
  margin: 0 -30px;

  @media (min-width: $medium) {
    margin: 0;
    width: 50%;
  }
}

.products__link {
  position: relative;
  display: block;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-bottom: 36px;

    @media (min-width: $medium) {
      padding-bottom: 39px;
    }
  }

  &--theme-green {
    background-color: $color-green;

    &:hover,
    &:active {
      background-color: $color-light-green;
    }
  }

  &--theme-dark-green {
    background-color: $color-dark-green;

    &:hover,
    &:active {
      background-color: $color-light-dark-green;
    }
  }

  @media (min-width: $medium) {
    padding-top: 25px;
    padding-bottom: 34px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
  }
}

.products__link--interior::before {
  content: "";
  position: absolute;
  top: 23px;
  right: 36px;
  width: 40px;
  height: 62px;
  background-image: url("../img/interior.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;

  @media (min-width: $medium) {
    top: 30px;
  }
}

.products__link--interior:hover::before,
.products__link--interior:focus::before {
  opacity: 0.7;
}

.products__link--interior:active::before {
  opacity: 0.3;
}

.products__link--toys::before {
  content: "";
  position: absolute;
  top: 21px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/toy.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;

  @media (min-width: $medium) {
    top: 31px;
    right: 33px;
  }

  @media (min-width: $large) {
    right: 35px;
  }
}

.products__link--toys:hover::before,
.products__link--toys:focus::before {
  opacity: 0.7;
}

.products__link--toys:active::before {
  opacity: 0.3;
}
