.reviews {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 6px;
    background-image: url("../img/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;

    @media (min-width: $medium) {
      bottom: -82px;
      height: 17px;
      background-size: auto 17px;
    }

    @media (min-width: $large) {
      height: 23px;
      background-size: 1050px 23px;
      background-position-x: center;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $medium) {
    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: $large) {
    background-image: none;
  }
}

.reviews__wrapper {
  @include wrapper-m;
  padding-bottom: 45px;
  margin-bottom: 38px;

  @media (min-width: $medium) {
    @include wrapper-l;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 128px;
  }

  @media (min-width: $large) {
    @include wrapper-xl;
    margin-bottom: 161px;
  }
}

.reviews__inner {
  @media (min-width: $medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $large) {
    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }
}

.reviews__title {
  @include font-bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $medium) {
    padding-top: 82.5px;
    margin-bottom: 38.5px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $large) {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__list {
  @include list;
  margin-bottom: 30px;

  @media (min-width: $medium) {
    margin-bottom: 47px;
  }

  @media (min-width: $large) {
    margin-bottom: 96px;
  }
}

.reviews__author-info {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 33px;
  line-height: 30px;
  color: $color-dark-grey;

  @media (min-width: $medium) {
    font-size: 17px;
    margin-bottom: 61px;
  }
}

.reviews__author-name {
  @include font-bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.reviews__author-contact {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: $color-dark-grey;
}

.reviews__toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  text-align: center;

  @media (min-width: $medium) {
    position: absolute;
    right: 0;
    bottom: 47px;
    width: 175px;
  }

  @media (min-width: $large) {
    bottom: 96px;
  }
}

.reviews__button-toggle {
  width: 50%;
  height: 52px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: $color-white;
  border: 1px solid $color-light-grey;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $medium) {
    border: none;
  }

  &--left {
    background-image: url("../img/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--right {
    background-image: url("../img/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-left: none;
  }
}

.reviews__button {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;

  @media (min-width: $medium) {
    margin-top: 82.5px;
    padding-right: 24px;
    padding-left: 24px;
    align-self: baseline;
  }
}

.reviews-no-js {
  display: none;
}
