.reviews__wrapper {
  @include wrapper-m;
}

.reviews__title {
  @include font-bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  @include list;
}

.reviews__author-info {
  margin: 0;
}

.reviews__text {
  line-height: 30px;
  color: $color-dark-grey;
}

.reviews__author-name {
  @include font-bold;
  font-size: 17px;
  line-height: 24px;
}

.reviews__author-contact {
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  color: $color-dark-grey;
}

.reviews__toggle {
  text-align: center;
  border: 1px solid $color-light-grey;
}

.reviews__button-toggle {
  width: 50%;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: $color-white;
  border: none;

  &--left {
    background-image: url("../img/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--right {
    background-image: url("../img/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.reviews__button {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
}
