// Global

$color-black: #000000;
$color-white: #ffffff;
$color-background-img: #fafafa;
$color-dark-grey: #444444;
$color-light-grey: #ececec;
$color-grey: #f1f1f1;
$color-footer-grey: #e5e5e5;
$color-border-modal: #c6c6c6;

$color-green: #62d1ba;
$color-dark-green: #56c3b2;
$color-light-green: #59d5bc;
$color-light-dark-green: #46c1ae;
