.logo {
  padding: 22px 0;
}

.logo__link {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 35px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $medium) {
    margin: 0;
  }

  @media (min-width: $large) {
    margin: 0 auto;
  }
}

.logo__link:not([href]) {
  opacity: 1;
}
