.main-nav {
  @include font-bold;
  font-size: 17px;
  line-height: 24px;
  position: relative;
  width: 100%;
}

.main-nav__wrapper {
  @include wrapper-m;

  @media (min-width: $medium) {
    @include wrapper-l;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $large) {
    @include wrapper-xl;
  }
}

.main-nav__toggle {
  position: absolute;
  background-color: $color-white;
  cursor: pointer;
  border: none;

  @media (min-width: $medium) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-size: 20px 14px;
}

.main-nav--opened .main-nav__toggle {
  top: 29px;
  right: 30px;
  width: 21px;
  height: 20px;
  background-image: url("../img/menu-close.svg");
  background-repeat: no-repeat;
  background-size: 21px 20px;
}

@media (max-width: $mobile-only) {
  .main-nav--closed .nav-list__item {
    display: none;
  }

  .main-nav--closed .search__link,
  .main-nav--closed .basket__link {
    display: none;
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

@media (max-width: $mobile-only) {
  .main-nav--no-js .nav-list__item {
    display: block;
  }

  .main-nav--no-js .search__link,
  .main-nav--no-js .basket__link {
    display: block;
  }
}

.main-nav__logo {
  @media (min-width: $medium) {
    flex-basis: 30%;
    margin: auto;
  }

  @media (min-width: $large) {
    order: 2;
    flex-basis: 20%;
  }
}

.main-nav__inner {
  @media (min-width: $medium) {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $large) {
    order: 3;
    flex-basis: 40%;
  }
}

.main-nav__search {
  margin: 0 -30px;
  box-shadow: 0 1px 0 $color-light-grey, inset 0 1px 0 $color-light-grey;

  @media (min-width: $medium) {
    width: 82px;
    height: 89px;
    margin-left: auto;
    margin-right: 0;
    box-shadow: none;
  }
}

.main-nav__basket {
  margin: 0 -30px;
  box-shadow: 0 1px 0 $color-light-grey, inset 0 1px 0 $color-light-grey;

  @media (min-width: $medium) {
    margin: 0;
    min-width: 264px;
    text-align: right;
    box-shadow: none;
  }
}

.main-nav__submenu {
  display: none;

  @media (min-width: $large) {
    order: 4;
    display: block;
    z-index: 1;
  }
}

.main-nav__delivery-text {
  @include font-normal;
  display: none;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: $color-dark-grey;

  @media (min-width: $medium) {
    display: block;
    margin-left: auto;
    padding-top: 20.5px;
    order: 3;
    z-index: 1;
  }

  @media (min-width: $large) {
    order: 4;
  }
}
