.main-nav {
  @include font-bold;
  font-size: 17px;
  line-height: 24px;
}

.main-nav__wrapper {
  @include wrapper-m;
  text-align: center;
}

.main-nav__delivery-text {
  @include font-normal;
  font-size: 15px;
  line-height: 24px;
  color: $color-dark-grey;
}
