.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: fade-out($color-white, 0.1);
  text-align: center;
  z-index: 10;
}

.modal-show-js {
  display: block;
}

.modal__form {
  @media (min-width: $medium) {
    padding-right: 78px;
    padding-left: 78px;
  }
}

.modal__wrapper {
  @include wrapper-m;
  padding-top: 28.5px;
  padding-bottom: 46px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 566px;
  max-height: 366px;
  margin: auto;
  background-color: $color-white;
  border: 1px solid $color-border-modal;
  box-shadow: 0 5px 10px fade-out($color-black, 0.25);
  z-index: 20;

  @media (min-width: $medium) {
    padding-top: 31.5px;
  }
}

.modal__title {
  @include font-bold;
  margin: 0;
  margin-bottom: 14px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $medium) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__fieldset {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 7px;
}

.modal__legend {
  margin-bottom: 19.5px;
  line-height: 30px;
  color: $color-dark-grey;

  @media (min-width: $medium) {
    font-size: 17px;
  }
}

.modal__label {
  @include font-bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  flex-grow: 1;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 2px solid fade-out($color-dark-grey, 0.9);
  cursor: pointer;

  &:hover {
    border: 2px solid fade-out($color-dark-grey, 0.7);
  }
}

.modal__input-checkbox:focus + .modal__label {
  border: 2px solid fade-out($color-dark-grey, 0.7);
}

.modal__input-checkbox:checked + .modal__label {
  border: 2px solid $color-green;
}

.modal__button {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 17px;
  line-height: 16px;
  color: $color-white;
  background-color: $color-green;
  border: none;
}
