.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 27px;
  padding-top: 29px;
  padding-bottom: 32px;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  position: relative;
  display: block;
  width: 27px;
  height: 34px;

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    mask-image: url("../img/htmlacademy.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $color-green;
  }

  &:hover::before,
  &:focus::before {
    background-color: $color-light-dark-green;
  }

  &:active::before {
    background-color: $color-light-dark-green;
    opacity: 0.3;
  }
}
