.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  padding-top: 29px;
  padding-bottom: 32px;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  position: relative;
  display: block;
  width: 27px;
  height: 34px;

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
