.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin-right: 27px;
  padding-top: 29px;
  padding-bottom: 32px;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  fill: $color-green;

  &:hover,
  &:focus {
    fill: $color-light-dark-green;
  }

  &:active {
    fill: $color-light-dark-green;
    fill-opacity: 0.3;
  }
}
